* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

:root {
    --bg-color: white;
    --text-color: black;
}

.dark-mode {
    --bg-color: black;
    --text-color: white;
}

section {
    margin: 0 auto;
    width: 100vw;
}

.blue-button {
    background-color: rgb(7, 7, 104);
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 16px;
    color: white;
}